.logo {
  position: fixed;
  top: 70px;
  right: 70px;
  width: 7.6%;
  font-size: 0.7vw;
  @media screen and (max-width: 1024px){
    top: 65px;
    right: 10px;
  }
  .name {
    position: absolute;
    left: -55px;
    top: -15px;
    color: #95b47b;
    @media screen and (max-width: 1024px){
      display: none;
    }

    h2, h4 {
      margin: 0;
    }

    h4 {
      margin-left: -20px;
      color: black;
    }
  }
}
