
.static {
  top: 50px;

  app-header {
    position: fixed;
    right: 340px;
    top: 40px;
  }
}

@media  screen and (max-width: 768px) {
  .main-block{
    .desc-title{
      height: auto;
      .base-padding{
      }
    }
    .picture-row{
      flex-wrap: wrap;
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}
