html::-webkit-scrollbar {
  width: 0;
}

@media  screen and (max-width: 768px) {
  .main-block{
    .desc-title{
      height: auto;
      .base-padding{
      }
    }
    .picture-row{
      flex-wrap: wrap;
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}
