.footer{
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;

  .footer-list{
    width: 30%;
    ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      li{

        a{
          text-decoration: none;
          color: black;
          opacity: .7;
          transition: .5s;
          background-color: rgba(255,255,255,.6);
          backdrop-filter: blur(25px);
          border-radius: 5px;
          padding: 5px;
          &:hover{
            opacity: 1;
            font-size: 23px;
            font-weight: 700;
          }
        }
      }
    }
  }
}