
ul {
  list-style-type: none;


  &.hovered {
    li {
max-height: 0;
      padding: 0;
      a {
        opacity: 0;
      }
    }

    &:hover {
      li {
      max-height: 50px;
        padding: 6px;
        background-color: rgba(255,255,255,.6);
        backdrop-filter: blur(25px);
        border-radius: 5px;
        a {
          opacity: .3;

        }
      }
    }
  }

  li {
    padding: 6px;
    position: relative;
    transition: .7s;

    &:hover,
    &.active {
      transform: scale(1.2);
      max-height: 50px;
      padding: 6px;
      background-color: rgba(255,255,255,.6);
      backdrop-filter: blur(25px);
      border-radius: 5px;
      a{
        opacity: 1!important;
        font-weight: bold;
        font-size: 28px;
      }
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 28px;
      opacity: .3;
      transition: .4s;

    }
  }
}
