<ul>
  <li style="margin-bottom: 25px;"><a href="">About us</a></li>
  <li><a href="">Pumpkin seeds</a></li>
  <li><a href="">Chick pea</a></li>
  <li><a href="">Coriander</a></li>
  <li><a href="">Faba beans</a></li>
  <li><a href="">Canary seeds</a></li>
  <li><a href="">Flax seeds</a></li>
  <li><a href="">Rape seeds</a></li>
  <li><a href="">Green peas</a></li>
  <li><a href="">Oats</a></li>
  <li style="margin-bottom: 25px;"><a href="">Yellow peas</a></li>
  <li><a href="">Contacts</a></li>
  <li><a href="">Contact form</a></li>
</ul>
