.big-block {
  background: no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100vh;

  transition: 0.5s;
  @media  screen and (max-width: 1024px), (max-height: 750px) {
    height: 80vh;
  }
  .big-link {
    margin: 0 auto;
    display: block;
    width: 65%;
    height: 100vh;
    cursor: url(/src/assets/images/icons8-circled-right-64.png), auto;
    @media  screen and (max-width: 1024px) {
      height: calc(100vh - 58px);
    }
  }
}

.big-about-us {
  background: no-repeat bottom right;
  background-size: 70%;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  @media  screen and (max-width: 1024px) {
    height: calc(100vh - 58px);
  }

  .about-us, .contacts,.contact-form {
    position: absolute;
    left: 450px;
    top: 30px;
    width: 30%;
    height: 400px;
    font-size: 20px;
    @media  screen and (max-width: 1024px) {
      height: auto;
      width: auto;
      position: static;
      padding: 75px 20px 0 20px;
    }
  }
  .about-us{
    display: flex;
    width: 60%;
    padding-top: 30px;
    @media  screen and (max-width: 1024px) {
      flex-wrap: wrap;
      height: auto;
      width: auto;
      position: static;
      padding: 75px 20px;
    }
    .about-us-text{
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding-right: 45px;
      @media  screen and (max-width: 1024px) {
        padding-right: 0;

      }
      h1{
        margin-top: 0;
        @media  screen and (max-width: 1024px) {
          font-size: 25px;

        }
      }
    }
    .about-us-video{

    }
  }

  .contacts {
    h1{
      @media screen and (max-width: 1024px) {
        font-size: 30px;
      }
    }
    table {
      td:first-child {
        font-weight: bold;
        width: 100px;
        padding: 5px;
      }
    }
  }
}


.big-about-us {
  .contact-form {
    @media screen and (max-width: 1024px) {
      left: 250px;
      height: auto;
      width: 45%;
    }
    @media screen and (max-width: 600px) {
      width: auto;
    }
    .box {
      .req {
        color: red;
        font-size: 12px;
      }

      h1 {
        margin: 0 0 30px;
        padding: 0;
        color: #000000;
        text-align: center;
        font-size: 20px;
      }
      .inputBox {
        position: relative;
        input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: #000;
          letter-spacing: 1px;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #000;
          outline: none;
          background: transparent;
          @media screen and (max-width: 1024px){
            margin-bottom: 20px;
            font-size: 12px;
          }
          &:focus ~ label, &:valid ~ label {
            top: -18px;
            left: 0;
            color: #95b47b;
            font-size: 12px;
          }

        }
        textarea {
          width: -webkit-fill-available;
          outline: none;
          font-size: 18px;
          border-radius: 5px;
          &:focus ~ label, &:valid ~ label {
            top: -27px;
            left: 0;
            color: #95b47b;
            font-size: 12px;
          }
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 18px;
          color: #000;
          letter-spacing: 1px;
          pointer-events: none;
          transition: .5s;
          span {
            color: red;
          }
        }
        p {
          padding: 10px 0;
          font-size: 16px;
          color: #000;
          letter-spacing: 1px;
          pointer-events: none;
        }
      }
    }
  }
}
input[type="submit"]{
  border:none;
  outline: none;
  color: #fff;
  background-color: #95b47b;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 28px;
  margin-top: 20px;
  @media screen and (max-width: 1024px){
    font-size: 16px;
    padding: 5px 15px;
  }
}

app-header {
  position: absolute;
  left: 40px;
  top: 40px;
  transition: .5s;
  @media screen and (max-width: 1024px), (max-height: 750px){
    position: static;
    left: 10px;
    top: 10px;
  }
  ul{
    li{
        a{

        }
    }

}
}

