.big-block {
  background-image: url(/src/assets/images/Тыква.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}
app-header {
  position: absolute;
  left: 40px;
  top: 40px;
}
